@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
background-image: linear-gradient(to bottom, #F2AEBB,#F2668B);
}

p{
    text-align: justify;
}

main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 2px 2px 10px #050E40;
}

h1{
    text-align: center;
    color:#050E40;
    text-shadow: 2px 2px 2px #2745F2;
    
}

h2{
    color:#0F41A6
}